<nav class="navbar">
  <a href="/" class="<%= title === 'Welcome to My Portfolio' ? 'active' : '' %>">Home</a>
  <a href="/projects" class="<%= title === 'Projects' ? 'active' : '' %>">Projects</a>
  <a href="/films" class="<%= title === 'Film Projects' ? 'active' : '' %>">Films</a>
  <a href="/about" class="<%= title === 'About Me' ? 'active' : '' %>">About</a>
</nav>
